@charset "UTF-8";

@font-face {
    font-family: Outfit;
    src: url(../fontes/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Young-serif;
    src: url(../fontes/young-serif/YoungSerif-Regular.ttf);
}

*{
    color: rgba(0, 0, 0, 0.65);
    text-align: justify;
    font-weight: 500;
    font-family: 'outfit';
    line-height: 1.5em;
    margin: 0px;
    padding: 0px;
}

header #imagem{
    background: black url(../imagens/image-omelette.jpeg) no-repeat;
    background-size: cover;
    height: 200px;
}

section{
    padding: 30px;
}

section h1{
    color: black;
    text-align: left;
    font-family: 'young-serif';
    font-size: 2.3em;
    line-height: 1em;    
    margin-bottom: 20px;
}

aside{
    background-color: rgba(146, 67, 99, 0.05);
    margin: 0px 30px;
    padding: 20px;
}

aside h3{
    color: rgba(146, 67, 99);
    font-weight: bold;
    margin-bottom: 20px;
}

aside li{
    margin: 10px 20px 0px;
}

aside li::marker{
    color: rgba(146, 67, 99);
}

strong{
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

article{
    padding: 30px;
}

article h2{
    color: #86483b;
    font-family: 'young-serif';
    font-weight: normal;
    font-size: 1.8em;
    margin-bottom: 20px;
}

article li{
    margin: 10px 30px 0px;
}

article li::marker{
    color: #86483b;
    font-weight: bold;
}

article hr{
    border-color: rgba(134, 71, 59, 0.2);
    width: 100%;
    margin: 30px auto;
}

article table{
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table tr{
    border-bottom: 1px solid rgba(134, 71, 59, 0.2);
}

table td{
    padding: 10px;
}

table #numeros{
    color: #86483b;
    font-weight: bold;
}

footer{
    background-color: #86483b;
    padding: 10px 30px;
}

footer .attribution{
    color: white;
    font-weight: normal;
}

footer a{
    color: white;
}